<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalorieTracker"
        tools:targetApi="31">
        <activity
            android:name=".HomePage.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted.GS4_CongratsActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted.GS3_InputGoalActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted.GS2_InputWeightActivity"
            android:exported="false"
            android:label="@string/title_activity_gs2_input_weight"
            android:theme="@style/Theme.CalorieTracker" />
        <activity
            android:name=".GetStarted.GS1_InputNameActivity"
            android:exported="false" />
        <activity
            android:name=".TabActivity"
            android:exported="false" />
        <activity
            android:name=".TabFragment"
            android:exported="false" />
        <activity
            android:name=".GetStarted.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomePage.WelcomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>